.App__container {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  gap: 20px;
}

.App__selection {
  width: 100%;
  background: #cccc;
  padding: 20px;
}

.App__container ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  gap: 10px;

  padding: 20px;
}

.App__numberSlection li {
  list-style: none;
  border-radius: 20%;
  color: white;
  width: 50px;
  height: 35px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.App__colorPalette li {
  list-style: none;
  border-radius: 20%;
  color: white;
  width: 50px;
  height: 35px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.App__buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.App__buttons button {
  background: #4267b2;
  color: white;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.App__results {
  width: 100%;
  background: white;
}

.App__line {
  height: 2px;
  background: #cccc;
}

.App__results ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.App__results ul li {
  list-style: none;
  border-radius: 50%;
  color: white;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.App__error {
  border: 3px solid orangered;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: orangered;
}
